Flask==3.0.2
Flask-Sock==0.7.0
google-cloud-speech==2.24.1
google-cloud-firestore==2.16.0
google-auth==2.29.0
grpcio==1.62.1
protobuf==4.25.3
python-dotenv==1.0.1
gunicorn==21.2.0
simple-websocket==1.0.0
